<section>
  <h1 class="text-2xl font-bold">Number Pipes</h1>
  <h3 class="text-xl font-thin">Pipes para trabajar con números</h3>
</section>

<div class="stats shadow w-full">
  <div class="stat">
    <div class="stat-title">Number: (1.2-2)</div>
    <div class="stat-value">{{ totalSelles() | number : "1.2-2" }}</div>
    <div class="stat-desc">{{ totalSelles() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Number: (1.1-2)</div>
    <div class="stat-value">{{ totalSelles() + 1234 | number : "1.1-2" }}</div>
    <div class="stat-desc">{{ totalSelles() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Currency</div>
    <div class="stat-value">
      {{ totalSelles() | currency : "COP" : "symbol-narrow" : "1.4-4" }}
    </div>
    <div class="stat-desc">{{ totalSelles() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Percent</div>
    <div class="stat-value">
      {{ percent() | percent : "1.0-2" }}
    </div>
    <div class="stat-desc">{{ percent() }}</div>
  </div>
</div>
